@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: dosis-bold;
    src: url('../fonts/Dosis-Bold.ttf');
}
@font-face {
    font-family: dosis-extrabold;
    src: url('../fonts/Dosis-ExtraBold.ttf');
}
@font-face {
    font-family: dosis-light;
    src: url('../fonts/Dosis-Light.ttf');
}
@font-face {
    font-family: dosis-medium;
    src: url('../fonts/Dosis-Medium.ttf');
}
@font-face {
    font-family: dosis-regular;
    src: url('../fonts/Dosis-Regular.ttf');
}
@font-face {
    font-family: dosis-semibold;
    src: url('../fonts/Dosis-SemiBold.ttf');
}

.dosis-bold{
    font-family: dosis-bold;
}
.dosis-extrabold{
    font-family: dosis-extrabold;
}
.dosis-light{
    font-family: dosis-light;
}
.dosis-medium{
    font-family: dosis-medium;
}
.dosis-regular{
    font-family: dosis-regular;
}
.dosis-semibold{
    font-family: dosis-bold;
}